.popup {
  display: none;
  position: fixed;
  top: 0;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.bxs-heart {
  color: red;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 0 10vw;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.close {
  color: #fefefe;
  font-size: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px 16px;
  background-color: #08d9d6;
  color: white;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  z-index: 5;
}

.modal-body {
  padding-top: 41px;
  height: 200vh;
  width: 100%;
  overflow-y: auto;
}

.popup-animation {
  -webkit-animation: fadein 0.5s ease-in;
  -moz-animation: fadein 0.5s ease-in;
  -ms-animation: fadein 0.5s ease-in;
  -o-animation: fadein 0.5s ease-in;
  animation: fadein 0.5s ease-in;
}

.popup-close-animation {
  -webkit-animation: fadeout 0.5s ease-in;
  -moz-animation: fadeout 0.5s ease-in;
  -ms-animation: fadeout 0.5s ease-in;
  -o-animation: fadeout 0.5s ease-in;
  animation: fadeout 0.5s ease-in;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.item-container {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: rgb(33, 31, 31);
  height: auto;
  min-height: 100%;
}

.item-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  max-height: 750px;
}

.item-img img {
  width: 100%;
}

.item-description-container {
  width: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
  z-index: 4;
  color: white;
  padding: 30px 20px 20px;
  min-height: 58vw;
  overflow: hidden;
}

.item-description {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.company-likes-container {
  display: flex;
  align-items: center;
}

.company-likes {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
}

.company {
  font-size: 18px;
}

.likes {
  margin-right: 20px;
}

.item-title {
  font-size: 70px;
  text-transform: uppercase;
}

.item-title a:hover {
  color: #ff2e63;
}

.item-genres,
.item-details {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}

.item-details,
.item-summary {
  min-width: 100%;
  max-width: 70vw;
}

.genre {
  padding: 1px 6px 2px;
  background-color: #08d9d6;
  margin: 5px 15px 5px 0;
  border-radius: 5px;
  color: #000;
  font-size: 11px;
}

.started,
.status,
.item-details-container {
  width: fit-content;
  font-size: 11px;
  margin: 5px 15px 5px 0;
  padding: 1px 4px 2px 0;
}

.rating-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.rating-container li {
  margin-right: 5px;
  font-size: 11px;
}

.item-rating i {
  color: #fd4;
}

.item-rating {
  min-width: 50px;
  display: flex;
  flex-direction: column;
}

.item-rating,
.user-rating,
.item-summary {
  margin: 5px 15px 5px 0;
}

.imdb {
  padding-bottom: 5px;
}

.star-rating {
  position: relative;
  min-width: 110px;
  border-radius: 5px;
  justify-content: center;
  padding: 3px 3px 3px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.stars-container label {
  min-height: 12px;
  color: #666;
  padding: 0 5px;
  float: right;
  transition: all 0.2s ease;
}

.star-rating .post {
  display: none;
}

.star-rating .rating-feedback-text {
  color: #666;
  font-weight: 500;
}

.user-review {
  padding-bottom: 7px;
}

.star-rating .stars-container input {
  display: none;
}

input:checked ~ .staring-label {
  color: #fd4;
  text-shadow: 0 0 20px #fd4;
}

input:not(:checked) ~ .staring-label:hover,
input:not(:checked) ~ .staring-label:hover ~ .staring-label {
  color: rgb(255, 68, 93);
}

input#r-1 ~ .staring-label {
  padding-left: 0;
}

.res-form-btn,
.com-form-btn {
  background-color: white;
}
